.tabs{
    width:100%;
    background-color: white;
    padding :10px;
}
.individual{
    background-color: white;
    color: #BC2B2B;
    padding:10px;
    border-color: white;
    box-shadow: none;
    border:1px solid #BC2B2B;
}
.group{
    background-color: white;
    color: #BC2B2B;
    padding:15px;
    border-color: white;
    box-shadow: none;
    border:0px white;
    margin-left: 8px;

}