.chatItem{
    border-bottom: 2px solid #E4E5E6;
    width: 95%;
    margin: 0px auto; 
    padding-top: 5px;

}
.list{
    width:100%;
    background-color: white;
    

}

.chatItem:hover{
    background-color: white;
}
.room{
    width:100%;
    background-color: #F2F2F2;
    padding:10px;

}
.chatItem:active{
    background-color: #B71B1B;
    color:white;
}
.plus{
    font-size: 30px;
    border-radius: 27px;
    background-color:#B71B1B;
    width:22%;
    margin-left: 5px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-left:14px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
    float: left;
}
.plustext{
    font-size: 20px;
    padding: 10px;
}
.logo{
    width: 20%;
    height: 40px;
    float:left;
    
}
.img{
    width:50px;
    height: 50px;
    border-radius: 25px;
}
.text{
    width:80%;
    padding-left: 16px;
    margin-left:6px;
    padding-bottom: 13px;
}
.name{
    font-size: 17px;
    margin-left:42px;
    font-family: -webkit-body;
    
}
.lmessage{
    font-size:12px;
    margin-top: 7px;
    margin-left: 46px;
    font-family: sans-serif
}