.header{
    height: 50px;
}
.imgl{
    width:30px;
    height: 30px;
    border-radius: 15px;
}
h5{
    font-family: serif;
}
.logol{
    height: 40px;
    float:left;
    margin-left: 20px;
    margin-right: 15px;
}
.messageheader{
    padding: 10px;
    background-color: white;
}
.MessageList{
    margin-top: 4px;
    background-color: white;
    height: 469px;
    overflow: auto;
}