.TextBox{
  border-radius: 8px;
  width:845px;
  padding: 10px;
  border:0px white;
}
.FormFields{
  position: absolute;
  top:582px;
  left:353px;
  border: none;
}
.Container{
  margin:50px;
  position: relative;
}
.App{
  background-color: #E4E5E6;
  width:95%;
  margin:0px auto;
  margin-top:30px;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4E5E6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
