.SideNav{
    float:left;
    width:20%;
    height: 580px;
    overflow: auto;
    border-radius:8px;
    background-color: #FFFFFF;
    
}
.MessageBox{
    border-radius: 8px;
    float:left;
    margin-left: 60px;
    width:65%;
    height: 550px;
    overflow: auto;
    background-color: #E4E5E6;
   
}