.message{
    background-color: aliceblue;
    border-radius: 10px;
    margin :20px;
    padding: 2px 10px;
    width: fit-content;
    font-size: 14px;
}
.mlogo{
    margin-right: 5px;
    float: left;
    width:20px;
    margin-top:5px;
    height:20px;
    border-radius: 10px;
}
.logom{
    float: left;
}